<div class="col-sm-3 p-2">
    <!--ads etc here -->
    <!-- streamlit from scratch-->
    <div class="p-4 shadow-sm mb-4 rounded border border-secondary bg-light">
        <div>
            <i>eBook</i>
            <img class="mr-3" src="" width='80%' height='auto' alt="">
            <h5>
                <a href="https://alanjones2.github.io/streamlitfromscratch/" target="_blank">
                    <span class="text-dark">Streamlitfrom Scratch</span>
                </a>
            </h5>
            <p><b>Streamlit</b> is a framework for creating Data Science apps in Python.
                <br />
                <b>Streamlit from Scratch</b> is an ebook that will teach you how to get started with
                Streamlit.
            </p>

        </div>
    </div>

    <!-- google add start-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3208991186670959"
        crossorigin="anonymous"></script>
    <!-- sfs vertical -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3208991186670959" data-ad-slot="6617299104"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- google add end-->


    <!-- how charts work-->
    <div class="p-4 shadow-sm mb-4 rounded border border-secondary bg-light">
        <div>
            <i>Sponsored content</i>
            <img class="mr-3" src="https://m.media-amazon.com/images/I/61y5lxsc9DL._SY466_.jpg" width='80%'
                height='auto' alt="">
            <h5 class="mt-0">
                <a href="https://amzn.to/47FKuiz" target="_blank">
                    <span class="text-dark">How Charts Work: Understand and explain data with
                        confidence</span>
                </a>
            </h5>
            <h6>From the Back Cover</h6>
            <p>
                How Charts Work brings the secrets of effective data visualisation in a way that will
                help you bring data alive.
                Charts, graphs and tables are essential devices in business, but all too often they
                present information poorly.
                This
                book will help you:

                <li>Feel confident understanding different types of charts, graphs and tables – and how
                    to read them</li>
                <li>Recognise the true story behind the data presented and what the information really
                    shows</li>
                <li>Know the principles and rules of how best to represent information so you can create
                    your own
                    information-driven (and
                    beautiful) visuals</li>
                <li>Design visuals that people engage with, understand and act upon</li>
            </p>

        </div>
    </div>
    <!-- google add start-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3208991186670959"
        crossorigin="anonymous"></script>
    <!-- sfs vertical -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3208991186670959" data-ad-slot="6617299104"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- google add end-->

    <!-- the art of statistics-->
    <div class="p-4 shadow-sm mb-4 rounded border border-secondary bg-light">
        <div>
            <i>Sponsored content</i>
            <img class="mr-3" src="https://m.media-amazon.com/images/I/61eFjiH7sIL._SY264_BO1,204,203,200_QL40_ML2_.jpg"
                width='80%' height='auto' alt="">
            <h5 class="mt-0">
                <a href="https://amzn.to/3kVBGmo" target="_blank">
                    <span class="text-dark">The Art of Statistics: How to Learn from Data</span>
                </a>
            </h5>
            Discover how data literacy is changing the world and gives you a better understanding of
            life's biggest problems. I have used this book in various articles and found it to be
            invaluable.

        </div>
    </div>

    <!-- google add start-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3208991186670959"
        crossorigin="anonymous"></script>
    <!-- sfs vertical -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3208991186670959" data-ad-slot="6617299104"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- google add end-->

    <div class="p-4 shadow-sm mb-4 rounded border border-secondary bg-light">

        <i>eBook</i>
        <h5><a href='https://alanjones.gumroad.com/l/auiws' target='_blank'>Plotting with Pandas</a>
        </h5>
        <p>
            <b>Plotting with Pandas: an Introduction to Data Visualization</b> is an ebook that covers basic and
            statistical plots using Python and Pandas, line and bar charts, scatter plots, pie charts,
            histograms, box plots, etc.
        </p>



    </div>

    <!-- google add start-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3208991186670959"
        crossorigin="anonymous"></script>
    <!-- sfs vertical -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3208991186670959" data-ad-slot="6617299104"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- google add end-->

    <!-- storytelling in data-->
    <div class="p-4 shadow-sm mb-4 rounded border border-secondary bg-light">
        <div>
            <i>Sponsored content</i>
            <img class="mr-3" src="https://m.media-amazon.com/images/I/41OonY0kRWL._SX399_BO1,204,203,200_.jpg"
                width='80%' height='auto' alt="">
            <h5 class="mt-0">
                <a href="https://amzn.to/3JmzEFq" target="_blank">
                    <span class="text-dark">Storytelling with Data: A Data Visualization Guide for
                        Business</span>
                </a>
            </h5>
            Don't simply show your data - tell a story with it! Storytelling with Data teaches you
            the fundamentals of data visualization and how to communicate effectively with data. I
            use this book in the series of articles '12 Essential Visualizations and How to
            Implement them.

        </div>
    </div>

    <!-- google add start-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3208991186670959"
        crossorigin="anonymous"></script>
    <!-- sfs vertical -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3208991186670959" data-ad-slot="6617299104"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- google add end-->

    <!-- How charts lie -->
    <div class="p-4 shadow-sm mb-4 rounded border border-secondary bg-light">
        <div>
            <i>Sponsored content</i>
            <img class="mr-3" src="https://m.media-amazon.com/images/I/41N21MzfCRL._SX329_BO1,204,203,200_.jpg"
                width='80%' height='auto' alt="">
            <h5 class="mt-0">
                <a href="https://amzn.to/3ZuQO9B" target="_blank">
                    <span class="text-dark">How Charts Lie: Getting Smarter about Visual
                        Information</span>
                </a>
            </h5>
            A leading data visualization expert explores the negative - and positive - influences
            that charts have on our perception of truth. I used this book as the inspiration for
            'How Not to Lie with Charts'.

        </div>
    </div>


    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3208991186670959"
        crossorigin="anonymous"></script>
    <!-- sfs vertical -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3208991186670959" data-ad-slot="6617299104"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <div id="amzn-assoc-ad-d5bf4dcd-55c6-4038-a3d8-ff8bfa49de8a"></div>
    <script async
        src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=d5bf4dcd-55c6-4038-a3d8-ff8bfa49de8a"></script>

</div>